@media (max-width:768px)
{
    body{
        width: 100%;
    }
    header{
        flex-direction: column;
        padding-right: 0px;
    }
    .logo{
        width: 150px;
        display: flex;
        align-self: center;
    }
    .menuH{
        width: 50%;
        display: flex;
        justify-content: center;
    }
    .menu{
        width: 100%;
    }
    .menu :hover{
        border-top: 0px;
        border-bottom: solid;
    }
    .menuH :hover{
        border-top: 0px;
        border-bottom: 2px;
    }
    .menuA{
        width: 50%;
        display: flex;
        justify-content: center;
    }
    .menuA :hover{
        border-top: 0px;
        border-bottom: 2px;
    }
    .i{
        width: 22px;
        height: 20px;
    }
    .hebergementEtPopulaire{
        display: flex;
        flex-direction: column-reverse;
        margin: 0px;
    }

    .populaire{
        width: 100%;
        border-radius: 0px;
        margin-bottom: 40px;
    }
    .barreFiltre{
        flex-direction: column;
    }
    .lesBoutonsFiltre{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .boutonFiltre{
        height: 50px;
        width: 40%;
        margin-top: 20px;
        padding: 0px;
    }
    .loupe{
        display: block;
        background-color: #0065FC;
        width: 50px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .fa-magnifying-glass{
        color: white;
    }
    .boutonRechercher{
        display: none;
    }


    /*Début de la Section Hebergement*/

    .hebergement{
        padding: 0px;
        width: 100%;
        background-color: white;
        border-radius: 0px;
        margin-bottom: 40px;
    }
    .carteH{
        display: flex;
        flex-direction: column;
    }
    .carteHebergement{
        width: auto;
        height: 190px;
        
    }
    .carteHebergement img{
        height: 52%;
    }
    .card-content-hebergement{
        padding-left: 10px;
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    /*Début de la section Populaire*/

    #hotelSoleilDuMatinPop{
    display: block;
    order: -2;
    }
    #aubergeCanebierePop{
        display: none;
    }
    .cartePopulaire{
        height: 150px;
    }
    .cartePopulaire img{
        height: 150px;
    }
    .card-content-populaire{
        height: 150px;
    }

    /*Début de la Section Activité*/

    .activite{
        margin: 10px;
    }
    .carteA{
        flex-direction: column;
    }
    .carteActivite{
        height: 205px;
        margin-bottom: 20px;
        width: auto;
    }
    .carteActivite img{
        object-fit: cover;
        width: 100%;
        height: 70%;
    }
    .card-content{
        padding: 0px 30px;
        line-height: 10px;
    }


    /*Début de la section Footer*/

    footer{
        flex-direction: column;
        width: 100%;
        margin: 0px;
    }
}