@media (max-width:768px)
{
    header{
        flex-direction: column;
        align-items: center;
        padding-right: 0px;
    }
    .navigation{
        display: flex;
        width: 100%;
    }
    ul{
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 0px;
    }
    li{
        display: flex;
        width: 50%;
        justify-content: center;
        border-bottom: 1px solid grey;
        color: black;
    }
    li :hover{
        padding: 0px;
        text-decoration: none;
        border-top: none;
        color: blue;

    }
    .hebergementEtPopulaire{
        display: flex;
        flex-direction: column-reverse;
        margin: 0px;
    }

    .populaire{
        width: 100%;
        border-radius: 0px;
        margin-bottom: 40px;
    }
    .barreFiltre{
        flex-direction: column;
    }
    .lesBoutonsFiltre{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .boutonFiltre{
        height: 50px;
        width: 40%;
        margin-top: 20px;
        padding: 0px;
    }


    /*Début de la Section Hebergement*/

    .hebergement{
        padding: 0px;
        width: 100%;
        background-color: white;
        border-radius: 0px;
        margin-bottom: 40px;
    }
    .carteH{
        display: flex;
        flex-direction: column;
    }
    .carteHebergement{
        width: auto;
        height: 205px;
    }
    .carteHebergement img{
        height: 52%;
    }


    /*Début de la Section Activité*/

    .activite{
        margin: 10px;
    }
    .carteA{
        flex-direction: column;
    }
    .carteActivite{
        height: 205px;
        margin-bottom: 20px;
        width: auto;
    }
    .carteActivite img{
        object-fit: cover;
        width: 100%;
        height: 70%;
    }
    .card-content{
        padding: 0px 30px;
        line-height: 10px;
    }

    /*Début de la section Footer*/

    footer{
        flex-direction: column;
        width: 100%;
        margin: 0px;
    }
}