body{
    font-family: "Raleway"; /*met la police RALEWAY pour toute la page*/
    max-width: 1440px;
}

/*début code CSS pour l'en-tête*/

.navigation{
    float: right;
}
li{
    display: inline; 
    padding: 20px;
}
li :hover{
    border-top: 2px;
    border-top-color: #0065FC;
    border-top-style: solid;
    color: #0065FC;
    padding-top: 10px;
}
li :link{
    text-decoration: none;

}
.logo{
    width: 160px;
    padding: 40px;
}
/*fin du code de l'en-tête*/

/*Début du code CSS pour la barre de recherche*/

.formulaire{
    display: flex;
    margin-top: 25px;
}
#localisation{
    width: 50px;
    height: 49px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    background: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
}
#barreRecherche{
    height: 49px;
    border: 1px solid #F2F2F2;
    text-align: center;
}
#boutonRechercher{
    width: Hug (132px);
    height: 49px;
    padding: 15px 16px 15px 16px;
    border-radius: 0px 15px 15px 0px;
    border: 1px;
    gap: 10px;
    background-color: #0065FC;
    color: #FFFFFF;
}

/*Fin du code CSS de la barre de recherche*/

/*Début code CSS pour la barre de filtre*/

.barreFiltre{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}
.filtres{
    width: 54px;
    height: 50px;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.logoFiltre{
    margin-right: 5px;
}
.boutonFiltre{
    border-radius: 25px;
    border: 2px;
    height: Fixed (50px);
    padding: 15px;
    border: 2px;
    border: solid;
    border-color: #D9D9D9;
    background-color: #ffffff;
    margin-left: 15px;
    font-weight: bold;
}
.boutonFiltre:hover{ /* effet survol */
background-color: #DEEBFF;
}

/*Fin du code CSS de la barre de filtre*/



a{ /* toutes les balises <a> */
    text-decoration: none;
}
.fa-solid{
    color: #0065FC;
}
#siteAccueil{
    margin: 40px;
}
#info{
    margin-top: 20px;
}
#titre{
    margin-bottom: 10px;
}
.fa-circle-info{
    margin-right: 10px;
}


/*Début du code CSS pour les sections hébergements, populaire et activité*/

.hebergementEtPopulaire{ /*section hebergement et populaire*/
    display: flex;
    justify-content: space-between;
    margin: 40px;
}
.titreSection{ /*Titre des 3 sections hebergement/populaire/activité*/
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.titreCarte{
    font-weight: bold;
    font-size: 16px;
}
.card-content{
    color: black;
    padding: 10px;
    justify-content: space-between;
}
.euro{
    font-weight:bold;
}
.noteCarte{
    color: #0065FC;
}


#hebergement{ /* section hebergement*/
    background-color: #F2F2F2;
    width: 65%;
    border-radius: 20px;
}
.carteH{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.carteHebergement{
    background-color: #FFFFFF;
    border-radius: 20px;
    width: 25%;
    margin: 20px;
    box-shadow: 0px 3px 15px 0px #0000001A;
    padding: 5px;
}
.carteHebergement img{
    width: 100%;
    height: 100px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


#populaire{ /*section populaire*/
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 32%;
}
.carteP{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cartePopulaire{
    background-color: #FFFFFF;
    border-radius: 20px;
    height : 180px;
    margin: 20px;
    box-shadow: 0px 3px 15px 0px #0000001A;
    padding: 5px;
}
.cartePopulaire img{
    object-fit: cover;
    float: left;
    height: 180px;
    width: 40%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-right: 10px;
}


#activite{ /*Section Activité*/
    margin: 40px;
}
#carteA{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.carteActivite{
    width: 23%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 15px 0px #0000001A;
    height: 500px;
    border-radius: 20px;
}
.carteActivite img{
    width: 100%;
    height: 80%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

/*Fin du code CSS pour les sections hebergement, populaire et activité*/

/*Début du code CSS du pied de page*/

footer{
    display: flex;
    justify-content: space-between;
    margin: 40px;
    background-color: #F2F2F2;
}
#sectionFooter{
    margin: 15px;
}
#elementFooter{
    margin-bottom: 10px;
}

/*Fin du code CSS du pied de page*/

/*Début du code CSS pour les média queries*/

@media screen and (min-width=1024px){ /*pour les écrans d'ordinateur*/
    
}
@media screen and (max-width=1024px){ /*pour les écrans de tablette*/
    .body{
        background-color: red;
    }
    .hebergementEtPopulaire{
        display: flex;
        flex-direction: column;
    }
    #hebergement{
        width: 100%;
    }
    #populaire{
        width:100%;
    }
}
@media screen and (max-width=768px) { /*pour les écrans de téléphone*/
    
}