body{
    font-family: "Raleway"; /*met la police RALEWAY pour toute la page*/
    }
.navigation{
    float: right;
}
li{
    display: inline; 
    padding: 20px;
}
li :hover{
    border-top: 2px;
    border-top-color: #0065FC;
    border-top-style: solid;
    color: #0065FC;
    padding-top: 10px;
}
li :link{
    text-decoration: none;

}
.logo{
    width: 161.09px;
    height: 79px;
    padding: 30px, 50px, 30px, 50px;
    gap: 10px;
}
.box{
    display: flex;
    flex-direction: row;
    text-align: center;
}
#boutonRechercher{
    width: Hug (132px);
    height: 49px;
    padding: 15px 16px 15px 16px;
    border-radius: 0px 15px 15px 0px;
    border: 1px;
    gap: 10px;
    background-color: #0065FC;
    color: #FFFFFF;
}
#localisation{
    width: 50px;
    height: 49px;
    border-radius: 15px 0px 0px 15px;
    border: 1px;
    background: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;


}
#barreRecherche{
    height: 49px;
    border: 1px solid #F2F2F2;
    text-align: center;
}
.barreFiltre{ /*ensemble de la barre de filtre*/
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
.filtres{ /*seulement le mot filtres*/
    width: 54px;
    height: 50px;
    font-weight: bold;
    display: flex;
    align-items: center;
}
#imgFiltre{ /*couleur des logo economique, familiale, romantique et nos pepites*/
    color: #0065FC;
    margin-right: 5px;
}
.boutonFiltre{ /*les 4 boutons de la barre de filtre*/
    border-radius: 25px;
    border: 2px;
    height: Fixed (50px);
    padding: 15px;
    border: 2px;
    border: solid;
    border-color: #D9D9D9;
    background-color: #ffffff;
    margin-left: 15px;
    font-weight: bold;
}
.boutonFiltre:hover{
background-color: #DEEBFF;
}
